/* Hamburger menu */

#toggle {
    display: none;
  }

.hamburger {
    position: absolute;
    top: 3vmin;
    right: 5vmin;
    width: 12vmin;
    height: 12vmin;
}

.hamburger div {
    position: relative;
    width: 12vmin;
    height: 2vmin;
    margin-top: 2vmin;
    border-radius: 2vmin;
    background-color: black;
    transition: all 0.3s ease-in-out;
  }