<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/css-alt.css">
    <title>DreamLiving: Park</title>
    <meta name="description" content="Home page for the DreamLiving Housing Development">
</head>
<body>
    <header>
        <img id="header__logo" src="/assets/icon/bxs-tree-alt.svg" alt="logo, image of a pine tree">

        <input id="toggle" type="checkbox"></input>

        <label for="toggle" class="hamburger">
            <div class="top-bun"></div>
            <div class="meat"></div>
            <div class="bottom-bun"></div>
        </label>

        <div class="nav">
            <div class="nav-wrapper">
              <nav>
                <a href="../index.html">Home</a><br>
                <a href="park.html">Park</a><br>
                <a href="activities.html">Activities</a><br>
                <a href="videos.html">Videos</a><br>
                <a href="contact.html">Contact</a>
              </nav>
            </div>
        </div>
        
    </header>

    <main>
        <section>
            <div class="content">
                <img src="/assets/icon/park.svg" alt="">
                <h2>The Park</h2>
                <p>Beautifully worked<br>landscapes</p>
            </div>
        </section>

        <section></section>
    </main>

    <footer>

    </footer>
</body>
</html>