<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <ul class="nav__list">
                    <li class="nav__list__item">
                        <a href="videos.html"><img class="nav__list__item__icon" src="../assets/icon/bxs-videos.svg" alt=""></a>
                        <a class="nav__list__item__a" href="videos.html">Videos</a>
                    </li>
                    <li class="nav__list__item">
                        <a href="../index.html"><img class="nav__list__item__icon" src="../assets/icon/bx-home-alt-2.svg" alt=""></a>
                        <a class="nav__list__item__a" href="../index.html">Home</a>
                    </li>
                    <li class="nav__list__item">
                        <a href="parques.html"><img class="nav__list__item__icon" src="../assets/icon/bxs-tree-alt.svg" alt=""></a>
                        <a class="nav__list__item__a" href="parques.html">Parque</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
          
            <section class="banner">
                <div class="banner__item">
                    <iframe class="banner__video" src="https://www.youtube.com/embed/oSmUI3m2kLk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="banner__item">
                    <h2 class="banner__icon">80%</h2>
                    <img class="banner__icon" src="../assets/icon/bxs-tree-alt.svg" alt="">
                    <p class="banner__icon">80% of the are in the livelife housing devlopment is dedicated to green areas.</p>
                </div>
                <div class="banner__item">
                    <iframe class="banner__video" src="https://www.youtube.com/embed/oSmUI3m2kLk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </section>  >

        </main>
        <footer>
            <ul class="footer__list">
                <li class="footer__item">
                    <img class="footer__item__icon" src="../assets/icon/bxl-twitter.svg" alt="">
                </li>
                <li class="footer__item">
                    <img class="footer__item__icon" src="../assets/icon/bxl-tiktok.svg" alt="">
                </li>
                <li class="footer__item">
                    <img class="footer__item__icon" src="../assets/icon/bxl-instagram-alt.svg" alt="">
                </li>
            </ul>
        </footer>
    </div>
</body>
</html>