<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>DreamLiving: Parques</title>
    <meta name="description" content="Informacion sobre los parques del proyecto inmobiliario DreamLiving">
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="videos.html"><img src="../assets/icon/bxs-videos.svg" alt=""></a>
                        <a class="nav__text" href="videos.html">Videos</a>
                    </li>
                    <li>
                        <a href="../index.html"><img src="../assets/icon/bx-home-alt-2.svg" alt=""></a>
                        <a class="nav__text" href="../index.html">Home</a>
                    </li>
                    <li>
                        <a href="parques.html"><img src="../assets/icon/bxs-tree-alt.svg" alt=""></a>
                        <a class="nav__text" href="parques.html">Parque</a>
                    </li>
                    <li>
                        <a href="history.html"><img src="../assets/icon/book-svgrepo-com.svg" alt=""></a>
                        <a class="nav__text" href="history.html">Historia</a>
                    </li>
                    <li>
                        <a href="activities.html"><img src="../assets/icon/bxs-tree-alt.svg" alt=""></a>
                        <a class="nav__text" href="activities.html">Actividades</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <section><h1>Parques</h1></section>
            <section class="banner">
                <div class="banner__item">
                    <h2 class="banner__icon banner__h">350 He</h2>
                    <img class="banner__icon" src="../assets/icon/bxs-tree-alt.svg" alt="">
                    <p class="banner__icon banner__h">350 Hectare of forests, farms, hills, flats and lakes for you to enjoy every day.</p>
                </div>
                <div class="banner__item">
                    <h2 class="banner__icon banner__h">35 Houses</h2>
                    <img class="banner__icon" src="../assets/icon/bx-home-alt-2.svg" alt="">
                    <p class="banner__icon banner__h">With only 35 houses in total each house gets 5 hectares of private space and 125 hectares to share.</p>
                </div>
                <div class="banner__item">
                    <h2 class="banner__icon banner__h">Modern infrastructure</h2>
                    <img class="banner__icon" src="../assets/icon/bxs-plane.svg" alt="">
                    <p class="banner__icon banner__h">State of the art roads and landing strip for you to get to your personal paraside however you like.</p>
                </div>
                <div class="banner__item">
                    <h2 class="banner__icon banner__h">69 Lorem</h2>
                    <img class="banner__icon" src="../assets/icon/bxs-tree-alt.svg" alt="">
                    <p class="banner__icon banner__h">69 Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </section>

        </main>
        <footer>
            <ul class="footer__list">
                <li class="footer__item">
                    <img class="footer__item__icon" src="../assets/icon/bxl-twitter.svg" alt="">
                </li>
                <li class="footer__item">
                    <img class="footer__item__icon" src="../assets/icon/bxl-tiktok.svg" alt="">
                </li>
                <li class="footer__item">
                    <img class="footer__item__icon" src="../assets/icon/bxl-instagram-alt.svg" alt="">
                </li>
            </ul>
        </footer>
    </div>
</body>
</html>